@import 'nib'

.slider-wrapper
	relative top left
	width 100%
	margin 30px 0px
	clearfix()
	box-sizing: border-box
	user-select none
	font-family Helvetica
	
	.subtract, .add
		relative top left
		float left
		width 5%
		height 20px
		line-height 20px
		background #139afe
		z-index: 20
		cursor: pointer
		&:hover
			transform scale(1.1)
		&:active
			animation pulse2 .2s ease
		
	.subtract:after
		absolute top left
		content '-'
		text-align center
		font-size 18px
		width 100%
		color black
	
	.add:after
		absolute top left
		content '+'
		text-align center
		font-size 18px
		width 100%
		color black

	.bar-wrapper
		relative top left
		float left
		width 60%
		height 20px
		box-shadow: 0px 1px 3px -2px #8f989b
		
		
		.limits, .breakpoints
			absolute top left
			width 100%
			height 20px
			margin-top -20px
			font-size 10px
			color #6c6c6c
			.limit, .breakpoint
				absolute top left
				width auto
				transform translateX(-50%)
				cursor: pointer
				&:before
					content ''
					absolute top 40px left 50%
					height 5px
					width 1px
					background #6c6c6c
				&:after
					content ''
					absolute top 15px left 50%
					height 5px
					width 1px
					background #6c6c6c
				&:last-child
					transform translateX(10%)
					font-weight: 800
					&:before, &:after
						opacity: 0
		.handle
			absolute top 0px left
			height 20px
			width 20px
			background #1788f3
			cursor: pointer

		
		.active-bar
			relative top left
			height 100%
			width 0%
			background url('/images/bar.gif')
			// background #ffc679
			filter: hue-rotate(150deg)
			box-shadow: 0 0 1px -0.5px #959595
	

	.amountInput
		relative top left
		// margin 25px
		margin-left 0px
		width 16%
		line-height 20px
		text-align center
		float left
		padding 0
		box-shadow: 0px 0px 8px -4px #8f989b
		border none
		




@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2.2);
  }

  100% {
    transform: scale(2);
  }
}

@keyframes pulse2 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}
